<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<!-- Head -->

<head>

    <title>Error:404</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="/Css/style.css" type="text/css" media="all">
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<!-- //Head -->

<!-- Body -->
<body>

    <section class="w3l-main">
        <!-- /w3l-errorhny-->
        <div class="error-page">
            <div class="wrapper">
                <div class="main-cover w3">
                    <div class="lefterr">
                    <h2 class="oopshny">Oops!<br>Either the page does not exist or you are not authorize to access this page. Kindly Login and try it again.</h2>
                    <a href="http://localhost:3000/" class="backw3l">Home</a>
                    </div>
                    <h1 class="cover-para w3ls">404</h1>
                </div>
            </div>
        </div>
    </section>

</body>
<!-- //Body -->

</html>