<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Css/Contact.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    {{!--
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script> --}}
    <script src="https://cdn.tiny.cloud/1/zfdgti4wxmrxt06kxd5u6bd45r9omtu9sj0nnnq5r59z4c59/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <title>Create</title>
</head>

<body>
    {{>loader}}
    <div class="load">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        {{!--
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script> --}}
        <header class="header">
            {{>navbar}}
            <div class=box>
                <h1>Create Your Post</h1>
                <span id="typing"></span>
            </div>
        </header>
        <section class=section>
            <form action="/post" method="POST" class="contact" id="form">
                <input class="input" type="text" id="tittle" name="title" placeholder="Title" required>
                <hr id=namehr class="hr">
                <input class="input" type="email" id="publisher" name="publisher" placeholder="Publisher" required>
                <hr id=emailhr class="hr">
                {{!-- <input class="input" type="text" id="phone" name="phone" placeholder="Phone Number" required>
                <hr id=phonehr class="hr"> --}}
                <textarea id="post" , name="post">
            Create Your post!
            </textarea>
                {{!-- <textarea name="editor1"></textarea> --}}
                {{!-- <textarea class="input" name="post" id="post" cols="30" rows="10" placeholder="Post"></textarea>
                --}}
                <hr id=messagehr class="hr">
                <div class=label>
                    <input type="button" value="Create Post" class="submit" id="submit">
                    {{!-- <input type="submit" value="Submit" id="submit"> --}}
                </div>
            </form>
        </section>
        <hr>
        {{>footer}}
        <script src="/js/Hambuger.js"></script>
        <script src="/Js/create_post.js"></script>
    </div>
</body>

</html>