<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Css/home.css">
    <link rel="stylesheet" href="/Css/Contact.css">
    <link rel="icon" type="image/png" href="/img/favicon.ico"/>
    <title>Sign Up</title>
</head>

<body>
    {{>loader}}
    <div class="load">

        {{!-- <script src="jquery.js"></script> --}}
        <script src="parsley.min.js"></script
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <header class="header">
            <nav class=navbar>
                <div class="container">
                    <div id=menu>
                        <label for="check" style="cursor: pointer;">Menu
                            <div class="hamburger">
                                <div class="lines">
                                </div>
                                <div class="lines">
                                </div>
                                <div class="lines">
                                </div>
                            </div>
                        </label>
                        <input type="checkbox" id=check style=visibility:hidden>
                    </div>
                </div>
                <ul class="navitems">
                    <li class="liitems" id=title> <a href="/">CodingSolution</a> </li>
                    <li class="liitems"> <a href="/">Home</a> </li>
                    <li class="liitems"><a href="/about">About</a></li>
                    <li class="liitems"><a href="/contact">Contact</a></li>
                    <li class="liitems"><a href="/users/login">Login</a></li>
                </ul>
            </nav>
            <div class=box>
                <h1>Create Account</h1>
                <span id="typing"></span>
            </div>
        </header>
        <section class=section>
            <form action="/users" method="POST" class="contact" id="form" data-flag="0">
                <input class="input" type="text" id="Name" name="name" placeholder="Name" required>
                <hr id=phonehr class="hr">
                <input class="input" type="email" id="Email" name="email" placeholder="Email" required>
                <hr id=emailhr class="hr">
                <p style="color: red;" >{{emailError}}</p>
                <input class="input" type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="at least one number and one uppercase and lowercase letter, and at least 6 or more characters" placeholder="Password" required>
                {{!-- <input class="input" type="password" id="password" name="password" placeholder="Password" required> --}}
                <input type="checkbox" onclick="myFunction()">Show Password
                <hr id=phonehr class="hr">
                <div class=label>
                    <input id="btn" type="submit" value="Create" class="submit">
                </div>
            </form>
        </section>
        <hr>
        {{>footer}}
        <script src="/Js/Hambuger.js"></script>
        <script src="/Js/create_account.js"></script>
    </div>
</body>

</html>