 <footer class="fotter">
        <div class=div>
            <div class="footitems">
                <a href="https://twitter.com/KishanS46167789"><img src="/img/pngguru.com.png" alt="" class="icon"></a>
            </div>
            <div class="footitems">
                <a href="https://github.com/Kishan0145/Bolog-app"><img src="/img/github.png" alt="" class="icon"></a>
            </div>
            <div class="footitems">
                <a href="https://www.instagram.com/ksharma0145/"> <img id=icon src="/img/uokpl.rs-instagram-png-236.png" alt="" class="icon"></a>
            </div>
        </div>
        <span>Copyright &copy Rainbow 2021 </span>
    </footer>