 <footer class="fotter">
        <div class=div>
            <div class="footitems">
                <a href="#"><img src="/img/pngguru.com.png" alt="" class="icon"></a>
            </div>
            <div class="footitems">
                <a href=""><img src="/img/github.png" alt="" class="icon"></a>
            </div>
            <div class="footitems">
                <a href="#"> <img id=icon src="/img/uokpl.rs-instagram-png-236.png" alt="" class="icon"></a>
            </div>
        </div>
        <span>Copyright &copy Rainbow 2021 </span>
    </footer>