<nav class=navbar>
    <div class="container">
        <div id=menu>
            <label for="check" style="cursor: pointer;">Menu
                <div class="hamburger">
                    <div class="lines">
                    </div>
                    <div class="lines">
                    </div>
                    <div class="lines">
                    </div>
                </div>
            </label>
            <input type="checkbox" id=check style=visibility:hidden>
        </div>
    </div>
    <ul class="navitems">
        <li class="liitems" id=title> <a href="/">Rainbow</a> </li>
        <li class="liitems"> <a href="/post">Add Post</a> </li>
        <li class="liitems"><a href="/post/dashboard">Dashboard</a></li>
        <li class="liitems"><a href="/">Logout</a></li>
    </ul>
</nav>